{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container" style="margin-top: 120px;">
        <div class="col-xs-12 col-sm-10 col-lg-8 col-lg-offset-2">
            <fieldset>
                <legend>Créer un Atelier</legend>
                <form method="post" action="/create/workshop">
                    <div class="form-group">
                        <label for="input-text" class="control-label">Titre</label>
                        <input required type="text" class="form-control" name="title" id="input-text" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="input-date" class="control-label">Description</label>
                        <textarea name="description" class="form-control" id="" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="price" class="control-label">Price</label>
                        <input required type="number" step="0.01" class="form-control mask-money" name="price" id="input-money" placeholder="0,00">
                    </div>
                    <div class="form-group">
                        <label for="max_kids" class="control-label">Nombres d'enfants maximum</label>
                        <input required type="number" class="form-control" name="max_kids" >
                    </div>
                    <div class="form-group">
                        <label class="btn btn-default btn-file">
                            Choisir une image <input  type="file" class="form-control" name="image" hidden>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="job" class="control-label">Visible</label>
                        <div class="checkbox">
                            <label>
                                <input  type="checkbox" name="visible" checked="checked"/>
                                <span>Visible</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-select" class="control-label">Tranche d'âge</label>
                        <select required class="form-control" name="public_age_id" id="input-select">
                            <option value="" selected disabled>Tranche d'âge</option>
                            {% for age in ages %}
                                <option value="{{ age.id }}">{{ age.start }}-{{ age.end }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="input-select" class="control-label">Etablissement</label>
                        <select required class="form-control" name="establishment_id" id="input-select">
                            <option value="" selected disabled>Établissement</option>
                            {% for establishment in establishments %}
                                <option value="{{ establishment.id }}">{{ establishment.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="input-select" class="control-label">Categorie</label>
                        <select required class="form-control" name="workshop_category_id" id="input-select">
                            <option value="" selected disabled>Catégorie</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row">
                        <div class='col-md-5'>
                            <div class="form-group">
                                <label for="startAt">Date de début</label>
                                <div class='input-group date' id='datetimepicker1'>
                                    <input required type='text' name="startAt" class="form-control"/>
                                    <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-5'>
                            <div class="form-group">
                                <label for="startAt">Date de fin</label>
                                <div class='input-group date' id='datetimepicker2'>
                                    <input required type='text' name="endAt" class="form-control"/>
                                    <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Créer un atelier</button>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
    
{% endblock %}
