{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container margin-top90">
        <div class="row">
            <div class="form-group text-center form-inline">
                <form method="post" id="filter" action="">
                    <label for="vehicule">Trier par : </label>
                    <select name="public_age" onchange="document.getElementById('filter').submit()"
                            class="form-control mini-select">
                        <option value="" selected>Tranche d'âge</option>
                        {% for age in ages %}
                            <option value="{{ age.id }}">{{ age.start }}-{{ age.end }} ans</option>
                        {% endfor %}
                    </select>

                    <select name="category" class="form-control mini-select"
                            onchange="document.getElementById('filter').submit()">
                        <option value="" selected>Catégories</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>

                    <select name="place" class="form-control mini-select"
                            onchange="document.getElementById('filter').submit()">
                        <option value="" selected>Lieux</option>
                        {% for place in establishments %}
                            <option value="{{ place.id }}">{{ place.city }}</option>
                        {% endfor %}
                    </select>

                </form>


            </div>
        </div>

        <div class="row">
            {% for workshop in workshops %}
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="/images/{{ workshop.image }}" alt="img">
                        <div class="caption">
                            <h3 class="text-center">{{ workshop.title }}</h3>
                            <p>{{ workshop.description|slice(0,100) }}</p>
                            <p>{{ workshop.establishment }} {{ workshop.city }}</p>
                            <p>{{ workshop.startAt }}</p>
                            <p>{{ workshop.start }}-{{ workshop.end }} ans <span class="pull-right">{{ workshop.price }} €</span></p>
                            <p class="text-center" style="margin-top: 25px">
                                <a href="#" class="btn btn-primary" role="button">Inscrire</a>
                                {% if app.session.get('user') %}
                                    <a href="/edit/{{ workshop.id }}" class="pull-right" role="button"><span class="glyphicon glyphicon-edit"></span></a><br>
                                    <a href="/delete/{{ workshop.id }}" class="pull-right" role="button"><span class="glyphicon glyphicon-trash"></span></a></p>
                          {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <p class="text-center">
        <a href="/create/workshop" style="margin-top: 80px;" class="btn btn-lg btn-primary ">Créer un atelier</a>
    </p>


{% endblock %}

